.git
.git/
.gitignore

*.exe
*.exe~
*.so
*.test
*.dll
*.dylib
*.out

coverage.txt
coverage.html
coverage.out

vendor/
build/
dist/
bin/
tmp/
temp/

go.work
*.prof
*.pprof

*.deb
*.rpm

.vscode
.vscode/

.idea
.idea/

*.swp
*.swo

.DS_Store
.DS_Store?

*.log
*.log.*








